# ITOM 6253 Assignment 4 Template v1
#### Put your name here: Prajakta Dhamne

**Q1:** Using pandas, import the hotels.csv and show the number of observations and columns.

# **Q2:** Write a Python program to determine the number of hotel types and how many of each type.

**Q3:** Using a dataframe.method1().method2() syntax, count the number of missing values in each column.

**Q4:** For this assignment let's define a continuous variable as any numeric (integer and float) variable that has more than 10 distinct values in its distribution. Produce a table showing the mean, standard deviation, skewness and kurtosis of all the continuous variables.

The first step is to identify all the numeric variables.

Next, calculate the four moment statistics that interest us.

**Q5:** Find and replace all continuous variable outliers with missing values.

**Q6:** Impute all continuous variable missing values with the means of those variables.

Note that bubble_rating still has missing values because it only has five distinct values and should not be treated as a continuous numeric variable. It is not entirely categorical either but rather it is a discrete numeric variable where statistics such as mean have meaning.

**Q7:** How has the kurtosis changed for each of the variables that had outliers removed and then imputed?

Be sure that all the kurtosis values are less than those before outlier removal.

In [56]:
#**Q1:** Using pandas, import the hotels.csv and show the number of observations and columns.
import pandas as pd
hotel= pd.read_csv('hotels.csv',index_col = 0)
#print(hotel.shape)
#print(hotel.head())
hotel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366644 entries, 1 to 366404
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   country_code              366644 non-null  object
 1   country_name              366644 non-null  object
 2   location_code             366644 non-null  int64
 3   location_name             366644 non-null  object
 4   hotel_type                366644 non-null  object
 5   rooms                     335223 non-null  float64
 6   bubble_rating             344126 non-null  float64
 7   bubble_one                366644 non-null  int64
 8   bubble_two                366644 non-null  int64
 9   bubble_three              366644 non-null  int64
 10  bubble_four               366644 non-null  int64
 11  bubble_five               366644 non-null  int64
 12  page_position             366602 non-null  float64
 13  out_of                    366602 non-null  float64
 14  reviews                   366644 non-null  int64
 15  domestic_reviews          366644 non-null  int64
 16  international_reviews     366644 non-null  int64
 17  reviews_per_room          335223 non-null  float64
 18  visitor_country1          366644 non-null  object
 19  visitor_country2          366644 non-null  object
 20  visitor_country3          366644 non-null  object
 21  management_response_rate  344281 non-null  float64
 22  independent_flag          366644 non-null  int64
 23  traffic                   366642 non-null  float64
 24  traffic_per_room          335221 non-null  float64
 25  OTA_region_rate           366644 non-null  float64
 26  subscriber                366644 non-null  int64
 27  hotel                     366644 non-null  int64
 28  BandB                     366644 non-null  int64
 29  Specialty                 366644 non-null  int64
dtypes: float64(9), int64(14), object(7)
memory usage: 86.7+ MB

In [57]:
# **Q2:** Write a Python program to determine the number of hotel types and how many of each type.
hotel_type_counts = hotel['hotel_type'].value_counts()
print("Number of Hotel Types:", len(hotel_type_counts)) # using len function count and print number of hotels.
print("\nCount of Each Hotel Type:")
print(hotel_type_counts)

Number of Hotel Types: 3

Count of Each Hotel Type:
Hotel    184421
B & B    119674
Other     62549
Name: hotel_type, dtype: int64

In [58]:
# Q.3 Using a dataframe.method1().method2() syntax, count the number of missing values in each column.

missing_values=hotel.isna().sum()
print(missing_values)

country_code                    0
country_name                    0
location_code                   0
location_name                   0
hotel_type                      0
rooms                       31421
bubble_rating               22518
bubble_one                      0
bubble_two                      0
bubble_three                    0
bubble_four                     0
bubble_five                     0
page_position                  42
out_of                         42
reviews                         0
domestic_reviews                0
international_reviews           0
reviews_per_room            31421
visitor_country1                0
visitor_country2                0
visitor_country3                0
management_response_rate    22363
independent_flag                0
traffic                         2
traffic_per_room            31423
OTA_region_rate                 0
subscriber                      0
hotel                           0
BandB                           0
Specialty                       0
dtype: int64

In [59]:
# Q4. a table showing the mean, standard deviation, skewness and kurtosis of all the continuous variables.

continuous_variables = []      # Initialize a list to store the names of continuous variables

for column in hotel.columns:
    if pd.api.types.is_numeric_dtype(hotel[column]):  # Check if the column is numeric (integer or float) 
        num_distinct_values = hotel[column].nunique() #Calculate the number of distinct values in the column
        if num_distinct_values > 10:# If the number of distinct values is greater than 10, consider it a continuous variable
            continuous_variables.append(column) # append values to continuous variable  

#print(continuous_variables)
hotel[continuous_variables].agg(['mean', 'std', 'skew', 'kurtosis']) # print table showing 4 moments of continuous variable

,location_code,rooms,bubble_one,bubble_two,bubble_three,bubble_four,bubble_five,page_position,out_of,reviews,domestic_reviews,international_reviews,reviews_per_room,management_response_rate,traffic,traffic_per_room,OTA_region_rate
mean,523430.271080,51.498062,3.059930,3.301742,7.014199,17.221073,26.534543,48.547073,133.307404,62.237023,30.749225,31.487797,3.610091,0.044547,6899.611179,325.724082,122.465120
std,543237.556258,95.269292,12.272278,11.517430,22.555240,50.082025,82.753286,170.905910,417.102635,181.939113,100.788155,117.149850,9.204125,0.101389,25954.347748,1074.048503,48.982905
skew,2.427386,12.419465,33.082025,25.459906,24.158969,15.065432,16.435892,8.219367,6.729044,15.451969,17.051120,17.301557,12.161772,2.635651,25.305050,33.731399,2.472800
kurtosis,8.549454,460.486705,2848.224489,1781.237316,1669.979088,530.741498,580.735094,91.717439,56.277430,510.789682,699.315595,541.757871,365.691739,6.351735,1460.523851,2919.317583,18.056053

In [60]:
# Kurtosis values before removing outliers.
from scipy.stats import  kurtosis 

kurtosis_before_outliers = hotel[continuous_variables].apply(kurtosis) # diplaying kurtosis values before handling outliers
kurtosis_before_outliers_list = kurtosis_before_outliers.tolist() # convert them to list
print(kurtosis_before_outliers)

location_code                  8.549321
rooms                               NaN
bubble_one                  2848.185631
bubble_two                  1781.213008
bubble_three                1669.956298
bubble_four                  530.734244
bubble_five                  580.727158
page_position                       NaN
out_of                              NaN
reviews                      510.782700
domestic_reviews             699.306042
international_reviews        541.750467
reviews_per_room                    NaN
management_response_rate            NaN
traffic                             NaN
traffic_per_room                    NaN
OTA_region_rate               18.055790
dtype: float64

In [39]:
 #Q.5.Find and replace all continuous variable outliers with missing values
    
import numpy as np 

for variables in hotel[continuous_variables]:
    uppar_quartile = np.nanpercentile(hotel[variables],75) #define upaar limit
    lower_quartile = np.nanpercentile(hotel[variables],25) #define lowee limit
    iqr = uppar_quartile - lower_quartile
    
    uppar_whiskar = uppar_quartile + 1.5*iqr
    lower_whiskar = np.max(lower_quartile - 1.5*iqr,0)
    
    hotel[variables] = np.where(((hotel[variables] >= uppar_whiskar) | 
                                           (hotel[variables] <= lower_whiskar)) &
                                          (((uppar_whiskar - lower_whiskar) != 0)), np.nan , hotel[variables])   
               
hotel[continuous_variables].isnull().sum()

location_code               10304
rooms                       33308
bubble_one                  30860
bubble_two                  57416
bubble_three                33088
bubble_four                 31129
bubble_five                 39628
page_position               48047
out_of                      38452
reviews                     33021
domestic_reviews            33209
international_reviews       34349
reviews_per_room            41244
management_response_rate    28915
traffic                     32276
traffic_per_room            34008
OTA_region_rate              7994
dtype: int64

In [40]:
# Find and replace missing  values.

hotel[continuous_variables].isnull().head(5)

,location_code,rooms,bubble_one,bubble_two,bubble_three,bubble_four,bubble_five,page_position,out_of,reviews,domestic_reviews,international_reviews,reviews_per_room,management_response_rate,traffic,traffic_per_room,OTA_region_rate
hotel_code,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,True,True,True,True,True,False,False,True,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [41]:
# Q6: Impute all continuous variable missing values with the means of those variables.

for variables in continuous_variables:
    hotel[variables].fillna(value = hotel[variables].mean(), inplace = True)
print(hotel[continuous_variables].head(10))

            location_code      rooms  bubble_one  bubble_two  bubble_three  \
hotel_code
1                 60880.0  26.347635    0.713771    1.149473      2.483607
2                 28995.0  60.000000    0.466404    0.549926      1.694806
3                 29006.0   5.000000    1.000000    1.000000      1.000000
4                 30524.0   9.000000    0.000000    0.000000      0.000000
5                 30584.0   4.000000    0.713771    1.000000      0.000000
6                 30677.0   3.000000    0.000000    0.000000      0.000000
7                 30709.0   6.000000    0.000000    0.000000      0.000000
8                 30712.0   4.000000    0.000000    0.000000      0.000000
9                 30712.0   4.000000    1.000000    0.000000      4.000000
10                30781.0   6.000000    2.000000    0.000000      4.000000

            bubble_four  bubble_five  page_position  out_of    reviews  \
hotel_code
1               6.30157     8.756352            4.0    69.0  24.145716
2               4.58423     5.614227            1.0     5.0  17.478106
3              11.00000     8.756352            1.0     2.0  17.478106
4               3.00000     1.000000            2.0     2.0   4.000000
5               0.00000     3.000000            1.0     1.0   8.000000
6               0.00000     0.000000            0.0     1.0   0.000000
7               0.00000     0.000000            0.0    63.0   0.000000
8               5.00000     8.756352            1.0     4.0  17.478106
9              17.00000     8.756352            2.0     4.0  24.145716
10             10.00000     5.614227            1.0     1.0  62.000000

            domestic_reviews  international_reviews  reviews_per_room  \
hotel_code
1                   9.654911                 8.3062          1.978062
2                   9.654911                 5.0000          1.683333
3                   9.654911                 8.0000          1.436526
4                   4.000000                 0.0000          0.444444
5                   8.000000                 0.0000          2.000000
6                   0.000000                 0.0000          0.000000
7                   0.000000                 0.0000          0.000000
8                   9.654911                21.0000          1.436526
9                   9.654911                23.0000          1.436526
10                  9.654911                 1.0000          1.436526

            management_response_rate      traffic  traffic_per_room  \
hotel_code
1                           0.003069  2405.020078        110.864717
2                           0.003069  1816.762718        116.183333
3                           0.000861  4405.000000        147.174515
4                           0.000000   889.000000         98.777778
5                           0.000000  1673.000000        111.154975
6                           0.003069   789.000000        263.000000
7                           0.003069   367.000000         61.166667
8                           0.000861  4352.000000        147.174515
9                           0.000861  1816.762718        147.174515
10                          0.000000  3988.000000        111.154975

            OTA_region_rate
hotel_code
1                112.385410
2                124.976060
3                 99.848333
4                124.976060
5                124.976060
6                 92.361667
7                100.804200
8                 87.274255
9                 87.274255
10               124.976060

In [42]:
# find 4 moments after removing outleiers

import numpy as np
hotel[continuous_variables].agg(['mean', 'std', 'skew', 'kurtosis'])

,location_code,rooms,bubble_one,bubble_two,bubble_three,bubble_four,bubble_five,page_position,out_of,reviews,domestic_reviews,international_reviews,reviews_per_room,management_response_rate,traffic,traffic_per_room,OTA_region_rate
mean,381826.270588,20.399033,0.466404,0.549926,1.694806,4.584230,5.614227,5.788083,20.687581,17.478106,6.661355,5.670447,0.955563,0.000861,1816.762718,111.154975,112.385410
std,276407.949135,13.172399,0.598871,0.634926,1.762776,4.250104,5.371931,4.798804,17.654320,15.323882,6.478281,5.272728,0.777321,0.001362,1380.437046,81.188675,29.279164
skew,1.209465,0.732765,1.231490,0.884688,1.147322,1.114015,1.119664,0.959068,1.087701,1.112459,1.193168,1.153734,0.844224,1.222180,1.058593,0.842339,-0.132007
kurtosis,0.834522,0.357050,0.775195,-0.201474,0.905931,0.891947,0.918956,0.523938,0.913696,0.893611,1.109647,1.084912,0.469561,0.218173,0.807498,0.514373,-0.120694

In [43]:
# Kurtosis values after Removing Outliers.

kurtosis_after_removing_outliers=hotel[continuous_variables].apply(kurtosis) # kurtosis values after removing outliers
kurtosis_after_removing_outliers_list = kurtosis_after_removing_outliers.tolist() # convert them to list
print(kurtosis_after_removing_outliers_list) # print

[0.834494278685046, 0.35702849108742774, 0.7751675715114432, -0.20148755000663554, 0.9059020213676097, 0.8919186463984885, 0.9189273018941422, 0.5239144868534091, 0.91366683021272, 0.8935821327814755, 1.1096152711666, 1.0848809069173626, 0.46953862029779314, 0.21815356311286704, 0.8074706722115383, 0.5143498377791884, -0.12070839224055607]

In [62]:
#Q7: How has the kurtosis changed for each of the variables that had outliers removed and then imputed?
#Be sure that all the kurtosis values are less than those before outlier removal.

if kurtosis_after_removing_outliers_list[0:10] < kurtosis_before_outliers_list[0:10]: # comparing 2 kurtosis value 
    print("Result: Kurtosis is reduced after removing outliers")
else:   
    print("Result: Kurtosis is not reduced after removing outliers or remains the same")

Result: Kurtosis is reduced after removing outliers